# Making Salary Predictions

## Simple Linear Regression

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split

In [19]:
#Import salary.csv as data using pd.read_csv method.
data = pd.read_csv('salary.csv')

The salary.csv file contains the following data, displayed using the head() function.

In [20]:
data.head()

,salary,exprior,yearsworked,yearsrank,market,degree,otherqual,position,male,Field,yearsabs
0,53000.0,0,0,0,1.17,1,0,1,1,3,0
1,58000.0,1,0,0,1.24,1,0,1,1,2,0
2,45500.0,0,0,0,1.21,1,0,1,1,3,2
3,35782.0,0,2,1,0.99,1,0,1,1,4,1
4,34731.0,0,2,2,0.91,1,0,1,1,4,1

Now, we will be splitting the following data into labels and features. Labels are the data which we want to predict and features are the data which are used to predict labels.

In [21]:
y = data.salary
X = data.drop('salary', axis=1)

Below we use the train_test_split() fucntion to split the data, we will pass the variable X and y obtained above, along with test_size=0.20 which is used to indicate that the test data should be 20% of the total data and rest 80% should be train data.

In [22]:
#X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2)

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2)
print("X_train:")
print(X_train.head())
print(X_train.shape)

print("X_test:")
print(X_test.head())
print(X_test.shape)

X_train:
     exprior  yearsworked  yearsrank  market  degree  otherqual  position  \
341        0           27         16    0.91       1          0         3
285        0           25          5    0.96       1          0         2
494        0           20          7    0.85       1          0         3
492       17            1          1    0.92       1          1         3
323        2           25         16    1.13       1          0         3

     male  Field  yearsabs
341     1      2         1
285     1      3         1
494     0      2        52
492     0      2        50
323     1      2         0
(411, 10)
X_test:
     exprior  yearsworked  yearsrank  market  degree  otherqual  position  \
420        0            6          5    0.85       1          0         1
382        0           41         28    0.91       1          0         3
214        5           15         15    0.89       1          0         2
224        7           14         11    0.88       1          0         3
286        0           24         12    0.99       1          0         3

     male  Field  yearsabs
420     0      3         3
382     1      2         0
214     1      1         1
224     1      4         0
286     1      3         1
(103, 10)

In [25]:
X = data['yearsworked']

In [27]:
Y = data['salary']

In [ ]:
X = sm.add_constant(X) # adding a constant

In [29]:

model = sm.OLS(Y, X).fit()
predictions = model.predict(X)

In [30]:
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                         nan
Model:                            OLS   Adj. R-squared:                    nan
Method:                 Least Squares   F-statistic:                       nan
Date:                Mon, 13 May 2019   Prob (F-statistic):                nan
Time:                        15:55:01   Log-Likelihood:                    nan
No. Observations:                 514   AIC:                               nan
Df Residuals:                     513   BIC:                               nan
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
yearsworked        nan        nan        nan        nan         nan         nan
==============================================================================
Omnibus:                          nan   Durbin-Watson:                     nan
Prob(Omnibus):                    nan   Jarque-Bera (JB):                  nan
Skew:                             nan   Prob(JB):                          nan
Kurtosis:                         nan   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

The model has a coefficent of determination of R^2 = 0.389 (38.9%). This means that the model has a regression line with 38.9% approximation of the real data points. The p-value for both Const and Yearsworked are 0.000. A low p-value (< 0.05) indicates that you can reject the null hypothesis, meaning that a low p-value is likely to be a meaningful addition to your model because changes in the predictor's value are related to changes in the response variable. This means that the model can significantly predict the dependent variable (Salary).