In [30]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [31]:
df_salary = pd.read_csv('salary.csv')

In [32]:
df_salary.dropna().head()

,salary,exprior,yearsworked,yearsrank,market,degree,otherqual,position,male,Field,yearsabs
0,53000.0,0,0,0,1.17,1,0,1,1,3,0
1,58000.0,1,0,0,1.24,1,0,1,1,2,0
2,45500.0,0,0,0,1.21,1,0,1,1,3,2
3,35782.0,0,2,1,0.99,1,0,1,1,4,1
4,34731.0,0,2,2,0.91,1,0,1,1,4,1

In [33]:
data = df_salary['salary']

In [49]:
X_train, X_test, y_train, y_test = train_test_split(df_salary, data, test_size=0.85, random_state=30)

In [51]:
X_train.head()

,salary,exprior,yearsworked,yearsrank,market,degree,otherqual,position,male,Field,yearsabs
34,40512.0,0,3,3,1.04,1,0,1,1,3,0
189,52627.0,0,20,10,0.83,1,0,3,1,1,0
44,58930.0,0,6,0,1.17,1,0,2,1,2,1
52,40512.0,4,1,1,1.00,1,0,1,1,3,0
49,38000.0,4,0,0,0.91,1,0,1,1,3,0

In [50]:
lm = smf.ols(formula='salary ~ yearsworked', data=X_train).fit()

In [36]:
lm.params

Intercept      38775.236001
yearsworked      875.471177
dtype: float64

In [37]:
df_predictions = pd.DataFrame({'yearsworked': [12]})
lm.predict(df_predictions)

0    49280.890129
dtype: float64

In [38]:
ei = pd.DataFrame({'yearsworked': [80]})
lm.predict(ei)

0    108812.93019
dtype: float64

In [39]:
predictions = lm.predict(X_train.yearsworked)

In [40]:
lm.conf_int()

                        0             1
Intercept    34892.067597  42658.404404
yearsworked    621.866712   1129.075643

In [41]:
lm.pvalues

Intercept      1.220900e-31
yearsworked    1.577688e-09
dtype: float64

In [42]:
lm.rsquared

0.3867167382458976

In [43]:
lm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.387
Model:                            OLS   Adj. R-squared:                  0.379
Method:                 Least Squares   F-statistic:                     47.29
Date:                Mon, 20 May 2019   Prob (F-statistic):           1.58e-09
Time:                        12:03:44   Log-Likelihood:                -818.29
No. Observations:                  77   AIC:                             1641.
Df Residuals:                      75   BIC:                             1645.
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept    3.878e+04   1949.282     19.892      0.000    3.49e+04    4.27e+04
yearsworked   875.4712    127.305      6.877      0.000     621.867    1129.076
==============================================================================
Omnibus:                       15.443   Durbin-Watson:                   2.180
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               17.400
Skew:                           1.097   Prob(JB):                     0.000167
Kurtosis:                       3.780   Cond. No.                         26.0
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [44]:
df_salary.corr()

,salary,exprior,yearsworked,yearsrank,market,degree,otherqual,position,male,Field,yearsabs
salary,1.000000,0.119989,0.623589,0.610706,0.407214,0.044554,0.167137,0.702122,0.361564,-0.499316,-0.069630
exprior,0.119989,1.000000,-0.246549,-0.066403,-0.035041,-0.049373,0.264804,0.116596,0.046558,-0.048315,0.132380
yearsworked,0.623589,-0.246549,1.000000,0.813471,-0.070896,0.028421,-0.040490,0.746736,0.278963,-0.261379,0.055468
yearsrank,0.610706,-0.066403,0.813471,1.000000,-0.026975,0.006516,0.007036,0.485210,0.237787,-0.263953,0.035632
market,0.407214,-0.035041,-0.070896,-0.026975,1.000000,0.036408,0.021692,-0.013358,0.181201,-0.223827,-0.167068
degree,0.044554,-0.049373,0.028421,0.006516,0.036408,1.000000,-0.214717,0.043680,0.061611,-0.098424,0.029311
otherqual,0.167137,0.264804,-0.040490,0.007036,0.021692,-0.214717,1.000000,0.160311,0.015833,-0.076623,-0.017639
position,0.702122,0.116596,0.746736,0.485210,-0.013358,0.043680,0.160311,1.000000,0.318129,-0.288812,0.029751
male,0.361564,0.046558,0.278963,0.237787,0.181201,0.061611,0.015833,0.318129,1.000000,-0.128874,-0.622179
Field,-0.499316,-0.048315,-0.261379,-0.263953,-0.223827,-0.098424,-0.076623,-0.288812,-0.128874,1.000000,-0.000127
yearsabs,-0.069630,0.132380,0.055468,0.035632,-0.167068,0.029311,-0.017639,0.029751,-0.622179,-0.000127,1.000000

In [52]:
np.sqrt(mean_squared_error(y_train, predictions))

9978.386188965806

In [46]:
nm = smf.ols(formula='salary ~ yearsworked', data=X_test).fit()
nm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.389
Model:                            OLS   Adj. R-squared:                  0.388
Method:                 Least Squares   F-statistic:                     276.4
Date:                Mon, 20 May 2019   Prob (F-statistic):           2.20e-48
Time:                        12:03:45   Log-Likelihood:                -4629.3
No. Observations:                 436   AIC:                             9263.
Df Residuals:                     434   BIC:                             9271.
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept    4.036e+04    800.963     50.389      0.000    3.88e+04    4.19e+04
yearsworked   830.2498     49.937     16.626      0.000     732.102     928.398
==============================================================================
Omnibus:                       70.155   Durbin-Watson:                   2.126
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              105.148
Skew:                           1.038   Prob(JB):                     1.47e-23
Kurtosis:                       4.215   Cond. No.                         27.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [47]:
test_predictions = nm.predict(X_test)

In [48]:
np.sqrt(mean_squared_error(y_test, test_predictions))

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [28]:
df_salary = pd.read_csv('salary.csv').dropna()

df_salary.dropna()

data = df_salary['salary']

X_train, X_test, y_train, y_test = train_test_split(df_salary, data, test_size=0.85, random_state=30)


lm = smf.ols(formula='salary ~ yearsworked', data=X_train).fit()

lm.params

df_predictions = pd.DataFrame({'yearsworked': [12]})
lm.predict(df_predictions)


ei = pd.DataFrame({'yearsworked': [80]})
lm.predict(ei)

predictions = lm.predict(X_train.yearsworked)


lm.conf_int()


lm.pvalues

lm.rsquared


lm.summary()


df_salary.corr()

np.sqrt(mean_squared_error(y_train, predictions))


nm = smf.ols(formula='salary ~ yearsworked', data=X_test).fit()
nm.summary()


test_predictions = nm.predict(X_test)

np.sqrt(mean_squared_error(y_test, test_predictions))

9725.307647206706